<h1>
  Faktory Rails Example
</h1>

<p>
This is a simple app used to illustrate using <a href='https://github.com/contribsys/faktory'>Faktory</a> on Rails. Submit a message below and it will show you when the job is queued and when it is done executing.
You will have to <a href='/'>reload</a> your page to see the updated execution time...it should appear after about 5 seconds. You can watch the jobs through <a href="<%= ENV['ACK_FOUNDRY_WEB_URL'] %>">Faktory's web UI</a> as well.
</p>

<%= form_for @new_job do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>

  <%= f.submit %>
<% end %>

<h3>
  Recent jobs
</h3>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <b>"<%= job.message %>"</b>
      <ul>
        <li><em>Queued At: <%= job.created_at %></em></li>
        <li><em>Executed At: <%= job.executed_at %></em></li>
      </ul>
    </li>
  <% end %>
</ul>
